{% extends 'base.html' %}

{% block title %}Прически с украшениями{% endblock %}
{% block body %}

    <section id ="curls">

    <div class="container">
        <div class="imagine">
            {% load static %}
            <img src="{% static 'images/monogram.png' %}">
            <h3>Прически с украшениями</h3>
        </div>

        <div class="second_photos">

                <div class="col-md-4">
                    <a href="{% static 'images/41.jpg' %}" target="_blank">
                          <img src="{% static 'images/41.jpg' %}" alt="bride" style= "width: 100%" >
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% static 'images/42.jpg' %}" target="_blank">
                          <img src="{% static 'images/42.jpg' %}" alt="bride" style= "width: 100%">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% static 'images/43.jpg' %}" target="_blank">
                          <img src="{% static 'images/43.jpg' %}" alt="bride" style= "width: 100%">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% static 'images/44.jpg' %}" target="_blank">
                          <img src="{% static 'images/44.jpg' %}" alt="bride" style= "width: 100%" class="photos">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% static 'images/45.jpg' %}" target="_blank">
                          <img src="{% static 'images/45.jpg' %}" alt="bride" style= "width: 100%" class="photos">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% static 'images/46.jpg' %}" target="_blank">
                          <img src="{% static 'images/46.jpg' %}" alt="bride" style= "width: 100%" class="photos">
                    </a>
                </div>

        </div>

    </div>
    </section>


{% endblock %}