{% extends 'base.html' %}

{% block title %}О нас{% endblock %}
{% block body %}


    <section id ="about_us">

        <<div class="container">
            <div class="imagine">
                {% load static %}
                <img src="{% static 'images/monogram.png' %}">
                <h3>Об основателе «Ваниль»</h3>
            </div>

            <div class="about_us">
                <div class="col-md-4">
                <img src="{% static 'images/53.jpg' %}" alt="bride" style= "width: 100%" >
                    </div>
                <p>
                    Здравствуйте!
                    Меня зовут Измайлова Оксана и я основатель школы-студии «Ваниль».
                </p>

                <p>

                    Немного обо мне. Я стилист с 7 летним опытом работы, закончила Московскую школу визажистов Мосмэйк, затем школу студию
                    свадебных стилистов Эль Стиль город Москва.
                    Мой творческий путь сложился очень интересно: мне посчастливилось быть стилистом широко
                    известного телепроекта  Холостяк-4 на ТНТ с Алексеем Воробьёвым, а также телепроекта «Я самая» на телеканале Ю.
                    Вот уже более 5 лет я являюсь свадебным стилистом и воплощаю в жизнь самые смелые мечты своих клиентов!
                    Студию «Ваниль» решила создать потому, что мне хотелось бы чтобы каждая девушка могла почувствовать  себя принцессой в свой самый важный день.
                    Стилисты нашей студии выезжают к Вам в день торжества, делают прическу и макияж, Вам не нужно никуда торопится и бежать, вызывать такси и мчатся к стилисту! Теперь стилист приедет к Вам со всем необходимым и сделает утро Невесты размеренным и спокойным в комфортных для Вас условиях!

                </p>

                <p>
                    Увлеченность, профессионализм и полная отдача выбранному делу, вот по каким критериям я выбираю стилистов в свою команду!
                    Не могу назвать это работой для меня — это мое творческое пространство, мое вдохновение, мое удовольствие!
                    Ведь счастливые лица наших клиентов это потрясающее вознаграждение за мой труд!

                </p>
            </div>


        </div>

    </section>
{% endblock %}