{% extends 'base.html' %}

{% block title %}Фото и отзывы клиентов{% endblock %}
{% block body %}


        <div class="container">
            <div class="imagine">
                {% load static %}
                <img src="{% static 'images/monogram.png' %}">
                <h3>Фотографии и отзывы клиентов</h3>
            </div>
        </div>

    <section id="reviews">
        <div class="container">
            <div class="reviews">
                <img src="{% static 'images/client.png' %}" alt="bride" class="leftimg" >
                <h4>Анастасия</h4>
                <p>
                    Разум трактуется Кантом как способность, позволяющая мыслить безусловное.
                    Разум вырастает из рассудка (являющегося источником правил), доводя его понятия до безусловного.
                    Такие понятия разума, которым не может быть дан в опыте никакой предмет, Кант называет «идеями чистого разума».
                    Он выделяет три возможных класса идей, соответствующих предметам трех наук «частной метафизики»
                    (Идея души, идея мира, идея Бога). Разум в его «реальной» функции (в «логической» функции разум
                    является способностью составления умозаключений) допускает теоретическое и практическое применение.
                </p>
            </div>


            <div class="reviews">
                <img src="{% static 'images/client.png' %}" alt="bride" class="leftimg" >
                <h4>Елена</h4>
                <p>
                    Разум трактуется Кантом как способность, позволяющая мыслить безусловное.
                    Разум вырастает из рассудка (являющегося источником правил), доводя его понятия до безусловного.
                    Такие понятия разума, которым не может быть дан в опыте никакой предмет, Кант называет «идеями чистого разума».
                    Он выделяет три возможных класса идей, соответствующих предметам трех наук «частной метафизики»
                    (Идея души, идея мира, идея Бога). Разум в его «реальной» функции (в «логической» функции разум
                    является способностью составления умозаключений) допускает теоретическое и практическое применение.
                </p>
            </div>


            <div class="reviews">
                <img src="{% static 'images/client3.JPG' %}" alt="bride" class="leftimg" width="182 px" >
                <h4>Александра</h4>
                <p>
                    Изначально были сильные сомнения по поводу того, стоит ли вообще идти к стилисту, так как боялась
                    слишком яркого и вызывающего макияжа. Однако Оксана выполнила свою работу очень
                    профессионально, сделав очень естественный образ. К тому
                </p>
            </div>

        </div>
    </section>

{% endblock %}