{% extends 'base.html' %}

{% block title %}Цены{% endblock %}
{% block body %}


    <div class="container" >

        <div class="imagine">
            {% load static %}
            <img src="{% static 'images/monogram.png' %}">
            <h3>Цены</h3>
        </div>

        <div class="list1">
            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Невеста в стиле "Ваниль"</h4>
            <p>Макияж + причёска = 6000 pублей</p>
            <p>Макияж + причёска + репетиция = 8500 рублей</p>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Образ ( макияж + причёска ) для гостей невесты с 40% скидкой, если услуга выполняется стилистом невесты</h4>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Что включено в стоимость этих услуг:</h4>

            <p> - Косметика и укладочные средства</p>
            <p> - Шпильки и невидимки</p>
            <p> - Пучковые Ресницы на репетиции и в день торжества</p>
            <p> - Создание причёски с использованием накладных прядей ( по желанию )</p>
            <p> - Примерка фаты в день репетиции и закрепление фаты в день торжества</p>
            <p> - Подбор и примерка Украшений в прическу ( по желанию )</p>
            <p> - Бесплатная консультация (по желанию)</p>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Вечерний образ в стиле "Ваниль"</h4>
            <p>Макияж + Причёска = 4000 pублей</p>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Брови в стиле "Ваниль"</h4>
            <p> - Коррекция и оковывание бровей и ресниц - 700 pублей</p>
            <p> - Моделирование бровей - 500 pублей ( подбор формы + окрашивание краской )</p>
            <p> - Моделирование бровей - 700 pублей (подбор формы + окрашивание хной )</p>
            <p> - Классическое Наращивание ресниц - 800 pублей</p>
            <p> - Ламинирование ресниц - 1600 pублей</p>


            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Шугаринг - стоимость по запросу</h4>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Услуги мастера ногтевого сервиса  - стоимость по запросу</h4>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Услуги парикмахера - стоимость по запросу</h4>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Консультации психолога</h4>
            <p>Составление психологического портрета партнера, Анализ совместимости - 1000 рублей</p>
            <p>Психолог Орлова Екатерина</p>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Консультации по питанию и программе фитнес тренировок - 1000 pублей</h4>
            <p>Тренер ФЦ айсберг Мурзаева Диана</p>

            <img src="{% static 'images/label.png' %}" alt="label" class="label1">
            <h4>Быстро и безопасно для здоровья похудеть , подтянуть свое тело под руководством опытного диетолога по программе детоксикации организма
                    в Московском санатории - от 3 до 7 дней, стоимость по запросу!</h4>
        </div>
    </div>
{% endblock %}